<!doctype html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Cache-Control" content="no-transform"/>
<title>大麦盒子DM40A7免拆刷机包 - cblog</title>
<!--[if lte IE 8]>
    <link rel="stylesheet" href="/static/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="/static/grids-responsive-min.css">
  <!--<![endif]-->
  <link rel="stylesheet" href="/static/pure-min.css">

  <link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/plugins/highlight.min.css">
<script src="/static/plugins/highlight.min.js"></script>
<script src="/static/plugins/jquery.min.js"></script>
<link rel="stylesheet" href="/static/plugins/editormd/css/editormd.preview.css" />
<script src="/static/plugins/editormd/lib/marked.min.js"></script>
<script src="/static/plugins/editormd/lib/prettify.min.js"></script>
<script src="/static/plugins/editormd/lib/raphael.min.js"></script>
<script src="/static/plugins/editormd/lib/underscore.min.js"></script>
<script src="/static/plugins/editormd/lib/sequence-diagram.min.js"></script>
<script src="/static/plugins/editormd/lib/flowchart.min.js"></script>
<script src="/static/plugins/editormd//lib/jquery.flowchart.min.js"></script>
<script src="/static/plugins/editormd/editormd.min.js"></script>
<script src="/static/plugins/valine//av-min.js"></script>
<script src="/static/plugins/valine//Valine.min.js"></script>
 
<style>
    #wechat {
    font-size: 14px;
    padding: 5px;
    color: #b94a48;
    background: #f2dede;
    line-height: 20px;
    display: block;
  }
  </style>
</head>
<body class="flex">
    <view id="wechat">
        <p>页面重新排版会导致加载变慢，并影响显示效果，<strong>请点击右上角按钮，选择在浏览器中打开，并选择查看原网页</strong></p>
    </view>
    <script>
        function isWechat() {
          var ua = navigator.userAgent.toLowerCase();
          return ua.match(/MicroMessenger/i) == "micromessenger" ? true : false 
        }
        if(!isWechat())document.getElementById('wechat').style.display='none'
    </script>
  <div class="custom-menu-wrapper">
      <div class="pure-menu custom-menu custom-menu-top">
        <a class="pure-menu-heading custom-menu-brand" href="/">
          <img src="/static/css/favicon.png"/>
        </a>
          <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
      </div>  
      <div  class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
          <div class="custom-menu-screen"></div>
          <ul class="pure-menu-list" >
            
                <li class="pure-menu-item">
                <a href="/category/13.html" >exploit</a>
                </li>
            
                <li class="pure-menu-item">
                <a href="/category/11.html" >Mac</a>
                </li>
            
                <li class="pure-menu-item">
                <a href="/category/10.html" >Tool</a>
                </li>
            
                <li class="pure-menu-item">
                <a href="/category/9.html" >Game</a>
                </li>
            
                <li class="pure-menu-item">
                <a href="/category/1.html" >Web</a>
                </li>
            
            <div style="float: right;">
            
              <li class="pure-menu-item"><a href="/auth/register.html">注册</a></li>
              <li class="pure-menu-item"><a href="/auth/login.html">登录</a></li>
            
          </div>
        </ul>
      </div>
  </div>
<section class="content">
  
  
<style>
  .comment_submit {
    margin-top: 5px;
    position: relative;
    float: right;
  }
</style>
<article class="post">
  <header>
    <div>
      <h1>
        <a href="/view/16_%E5%A4%A7%E9%BA%A6%E7%9B%92%E5%AD%90DM40A7%E5%85%8D%E6%8B%86%E5%88%B7%E6%9C%BA%E5%8C%85.html">大麦盒子DM40A7免拆刷机包</a>
      </h1>
      <div class="about">by self on 2022-06-08
        <span id="/view/16_%E5%A4%A7%E9%BA%A6%E7%9B%92%E5%AD%90DM40A7%E5%85%8D%E6%8B%86%E5%88%B7%E6%9C%BA%E5%8C%85.html" class="leancloud_visitors"
          data-flag-title="大麦盒子DM40A7免拆刷机包">
          <em class="post-meta-item-text">access </em>
          <i class="leancloud-visitors-count"></i>
        </span>
      </div>
    </div>
    
  </header>
  <div id="editor-md">
## 起因
1. 买的宽带免费送的盒子，当时宽带小哥就说盒子里尽是广告和会员，没什么用。果不其然，拿到盒子后被恶心到了。实际上，国内的电视盒子大多都是这个套路，广告和会员满天飞，不管是小米、腾讯、华为还是天猫魔盒，都不能免俗。

## 经过
1. 想要有一个好的收视体验，又不想掏那么多钱，也就只能走DIY渠道。在网上百度了很久，在智能电视网ZDNS上花了一元钱下载了一个刷机包，能够刷进去，可惜一旦退出应用就黑屏了，是个半成品，还需要加工下。
2. 在网上找了解包软件，将固件解包分析。发现固件里有内存限制，会只保留一个活跃的前置Activity，同时有个看门狗程序，当发现没有其他前置Activity后就把自己的桌面起起来。
3. 按照这个思路，尝试写个shell来检测前置Activity，必要是启动自己的桌面。发现Shell兼容性不行，所以就改成C来写了，之后让它开机后循环执行。其实也可以用Java写个服务，同样有效果。

## 结果
1. 思路大概是这样的，剩下的就是调Bug。成品可参见链接：https://pan.baidu.com/s/1gAwTEn-jFKQcA0RLPwkwgg 
提取码：hvbm</div>
  <div id="vcomments"></div>

  <script type="text/javascript">
    var testEditor;
$(function() {
var html = $('#editor-md').html()
$('#editor-md').html('<textarea stle="display:none">'+ html + '</textarea>')
              testEditor = editormd.markdownToHTML("editor-md", {
                  
                  codeFold : true,
                  emoji : true,
                  taskList : true,
                  tocm: true,         // Using [TOCM]
                  tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                  flowChart : true,             // 开启流程图支持，默认关闭
                  sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
                  
              });
              
          });
valine = new Valine({
            el: '#vcomments',
            appId: 'g2vMTGR3b6cfBPv8KPsWvQ5z-gzGzoHsz',
            appKey: '03RyLkmoYsLsgxAEkXdPsImm',
            visitor: true,
            verify: true,
            notify: true,
            recordIP:true,
        });

  </script>
  </div>
</article>

</section>
<div class="copyright">
  <ul>
    <li onclick="alert('O(∩_∩)O')">©2018-2022 珏</li>
  </ul>
</div>
<script>hljs.initHighlightingOnLoad();</script>
<script>
  (function (window, document) {
      document.getElementById('toggle').addEventListener('click', function (e) {
          document.getElementById('tuckedMenu').classList.toggle('custom-menu-tucked');
          document.getElementById('toggle').classList.toggle('x');
      });
      })(this, this.document);
</script>
</body>
</html>