<!doctype html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Cache-Control" content="no-transform"/>
<title>cblog可以使用了 - cblog</title>
<!--[if lte IE 8]>
    <link rel="stylesheet" href="/static/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="/static/grids-responsive-min.css">
  <!--<![endif]-->
  <link rel="stylesheet" href="/static/pure-min.css">

  <link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/plugins/highlight.min.css">
<script src="/static/plugins/highlight.min.js"></script>
<script src="/static/plugins/jquery.min.js"></script>
<link rel="stylesheet" href="/static/plugins/editormd/css/editormd.preview.css" />
<script src="/static/plugins/editormd/lib/marked.min.js"></script>
<script src="/static/plugins/editormd/lib/prettify.min.js"></script>
<script src="/static/plugins/editormd/lib/raphael.min.js"></script>
<script src="/static/plugins/editormd/lib/underscore.min.js"></script>
<script src="/static/plugins/editormd/lib/sequence-diagram.min.js"></script>
<script src="/static/plugins/editormd/lib/flowchart.min.js"></script>
<script src="/static/plugins/editormd//lib/jquery.flowchart.min.js"></script>
<script src="/static/plugins/editormd/editormd.min.js"></script>
<script src="/static/plugins/valine//av-min.js"></script>
<script src="/static/plugins/valine//Valine.min.js"></script>
 
<style>
    #wechat {
    font-size: 14px;
    padding: 5px;
    color: #b94a48;
    background: #f2dede;
    line-height: 20px;
    display: block;
  }
  </style>
</head>
<body class="flex">
    <view id="wechat">
        <p>页面重新排版会导致加载变慢，并影响显示效果，<strong>请点击右上角按钮，选择在浏览器中打开，并选择查看原网页</strong></p>
    </view>
    <script>
        function isWechat() {
          var ua = navigator.userAgent.toLowerCase();
          return ua.match(/MicroMessenger/i) == "micromessenger" ? true : false 
        }
        if(!isWechat())document.getElementById('wechat').style.display='none'
    </script>
  <div class="custom-menu-wrapper">
      <div class="pure-menu custom-menu custom-menu-top">
        <a class="pure-menu-heading custom-menu-brand" href="/">
          <img src="/static/css/favicon.png"/>
        </a>
          <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
      </div>  
      <div  class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
          <div class="custom-menu-screen"></div>
          <ul class="pure-menu-list" >
            
                <li class="pure-menu-item">
                <a href="/category/13.html" >exploit</a>
                </li>
            
                <li class="pure-menu-item">
                <a href="/category/11.html" >Mac</a>
                </li>
            
                <li class="pure-menu-item">
                <a href="/category/10.html" >Tool</a>
                </li>
            
                <li class="pure-menu-item">
                <a href="/category/9.html" >Game</a>
                </li>
            
                <li class="pure-menu-item">
                <a href="/category/1.html" >Web</a>
                </li>
            
            <div style="float: right;">
            
              <li class="pure-menu-item"><a href="/auth/register.html">注册</a></li>
              <li class="pure-menu-item"><a href="/auth/login.html">登录</a></li>
            
          </div>
        </ul>
      </div>
  </div>
<section class="content">
  
  
<style>
  .comment_submit {
    margin-top: 5px;
    position: relative;
    float: right;
  }
</style>
<article class="post">
  <header>
    <div>
      <h1>
        <a href="/view/1_cblog%E5%8F%AF%E4%BB%A5%E4%BD%BF%E7%94%A8%E4%BA%86.html">cblog可以使用了</a>
      </h1>
      <div class="about">by self on 2018-05-13
        <span id="/view/1_cblog%E5%8F%AF%E4%BB%A5%E4%BD%BF%E7%94%A8%E4%BA%86.html" class="leancloud_visitors"
          data-flag-title="cblog可以使用了">
          <em class="post-meta-item-text">access </em>
          <i class="leancloud-visitors-count"></i>
        </span>
      </div>
    </div>
    
  </header>
  <div id="editor-md"># 在flask例子flaskr的基础上改的。
#cblog.site网站源代码。
	使用sqlite3数据库， 登录后可编辑新页面。
	使用命令```python genStaticHtml.py``` 可导出所有静态页面，在github page上浏览，效果还可以。
# 文章生成使用了wangEditor.js ,代码高亮使用highlight.min.js
# 启动web服务 ```$python app.py```
# 数据库初始化 ```$flask initdb```
# 注册账号需要邀请码，自己往数据库表welcode中添加即可，注册页面中邀请码输入栏禁止输入，要自己想办法输进去    
	tips: 浏览器页面中修改标签属性
# 生成静态页面
	在web服务正常运行的前提下，使用命令 ```python genStaticHtml.py```生成静态页面
# 上传静态页面到github page 
	修改uploadcgjue.site.io.sh 中的github地址，
	然后运行$sh uploadcgjue.site.io.sh

## next step:    
1. 增加上传文件功能，方便引入自己的脚本和图片等。   
2. 增加评论功能，对于静态网站来说，
引用第三方的评论插件就行了吧。
[cblog.site源码](https://github.com/cgjue/cblog.site "cblog.site源码")

## 2019.11.03
修改了cblog的后台管理界面，改用editor.md作为markdown编辑插件，并设置了是否使用editor.md的页面功能选项，引入valine作为评论插件，并使用server酱作为访问提示，好吧，谁看了我的文章，我都能收到提示，毕竟太少有人可能访问我的文章了。</div>
  <div id="vcomments"></div>

  <script type="text/javascript">
    var testEditor;
$(function() {
var html = $('#editor-md').html()
$('#editor-md').html('<textarea stle="display:none">'+ html + '</textarea>')
              testEditor = editormd.markdownToHTML("editor-md", {
                  
                  codeFold : true,
                  emoji : true,
                  taskList : true,
                  tocm: true,         // Using [TOCM]
                  tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                  flowChart : true,             // 开启流程图支持，默认关闭
                  sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
                  
              });
              
          });
valine = new Valine({
            el: '#vcomments',
            appId: 'g2vMTGR3b6cfBPv8KPsWvQ5z-gzGzoHsz',
            appKey: '03RyLkmoYsLsgxAEkXdPsImm',
            visitor: true,
            verify: true,
            notify: true,
            recordIP:true,
        });

  </script>
  </div>
</article>

</section>
<div class="copyright">
  <ul>
    <li onclick="alert('O(∩_∩)O')">©2018-2022 珏</li>
  </ul>
</div>
<script>hljs.initHighlightingOnLoad();</script>
<script>
  (function (window, document) {
      document.getElementById('toggle').addEventListener('click', function (e) {
          document.getElementById('tuckedMenu').classList.toggle('custom-menu-tucked');
          document.getElementById('toggle').classList.toggle('x');
      });
      })(this, this.document);
</script>
</body>
</html>